<% include partials/header %>
 <% if (success && success.length >0) { %>
   <div class="alert alert-success"><%= success %></div>
 <% } %>
<div class="container">
     <header class="jumbotron">
         <div class="container">
             <h1>Welcome To ComPETe!</h1>
             <p>Share the picture of your adorable pet!</p>
             <p>
                <a class="btn btn-primary btn-large" href="/pets/new">Add new Pet</a>
             </p>
         </div>
     </header>
    
    <div class="row text-center content">
        <% pet.forEach(function (e){%>
            <div class="col-md-3 col-sm-6">
                <div class="img-thumbnail">
                   <img id = "griglia" src="<%= e.image %>" >
                   <div class="caption">
                       <h4><%= e.name %> - <%= e.author.username %></h4>
                   </div>
                   <p>
                       <a href="/pets/<%= e._id %>">More Info</a>
                   </p>
                </div>
            </div>
        <% }); %>
    </div>
</div>

<% include partials/footer %>